
.full-width-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 8px; /* Adjust the padding value as needed */
}

.mat-header-cell,
.mat-cell {
  padding: 8px; /* Adjust the padding value as needed */
}


.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* This ensures the container takes up the full viewport height */
}

